.grid-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "header"
        "nav"
        "main"; 
    font-family: sans-serif;
}

header {
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 1fr .2fr .5fr;
    background-color: #7477bf;
}

h1 {
    color: white;
    margin-left: 20px;
    font-weight: normal;
    font-size: 140%;
    top: 20%;
    align-self: center;
}

.app {
    font-weight: lighter;
}

sup {
    font-size: 15% ;
    top: -4em;
}

#bell {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 22px;
    width: 30px;
    justify-self: right;
    align-self: center;
    padding: 6px 10px;
    border-right: 1px solid #5d61bf; 
}

.justBell {
        transition: all .2s ease-in-out;
}

.justBell:hover {
    transform: scale(1.2);
}

img {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    max-block-size: 50px;
    justify-self: center;
    align-self: center;
}

#josh {
    font-size: smaller;
    font-weight: lighter;
    text-align: left;
    align-self: center;
    color: white;
}

main {
    grid-area: main;
    
}

nav {
    grid-area: nav;
    background-color: #4c4c72;
    
}
.icons {
    display: grid;
    width: 200px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
}

.navIcon {
    height: 30px;
    width: 30px;
    border-radius: 0;
    padding: 10px 10px; 
    opacity: .5;

}   
.navIcon.selected {
    opacity: 1;
}


.widget-container-full, .widget-container-half {
    width: 95vw;
    margin: auto;
}

.main-header {
    display: grid;
    grid-template-columns: 120px 1fr;
}

.headline {
    font-size: smaller;
    justify-self: left;
    align-self: center;
    color: #6a6969;
    background-color: white;
    padding: 10px 28px; 
    margin: 0px;
}

.main-header-search {
    justify-self: right;
    align-self: center;
    background-color: #fbfbfb;
    padding: 5px 5px 5px 30%;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    border-radius: 0 0 0 5px;
}
.top-search {
    font-size: 13px;
    height: 30px;
    max-width: 300px;
    text-indent: 10px;
    border-radius: 3.5px;
    border: 1px solid lightgray;
    background-image: url('../icons/search.png');
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 122px 4px;
}

.alert {
    background: #7377bf;
    color:  white;
    margin: 10px 20px;
    border-radius: 5px;
    align-items: center;
}

.alert-banner {
    display: grid;
    grid-template-columns: 3fr 1fr;
    }

.alert-banner p{
    justify-self: left;
    margin-left: 15px;
}

.alert-banner p:hover {
    cursor: pointer;
}

.traffic-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    color: #6a6969;
}

.traffic-nav {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
}
.traffic-nav-link {
    padding: 0 4px;
    place-items: center;
}

.traffic {
    padding-bottom: 15px;
}

.mobile, .daily {
    border: 1px solid lightgray;
    padding: 16px;
}

h3 {
    padding-left: 10px;
    color: #6a6969;
    font-size: smaller;
}



.socialH3{
    display: inline-block;
    font-weight: lighter;
    margin-bottom: 0;
    grid-column: 1 /span 2;
}
.social {
    display: grid;
    grid-template-columns: 1fr;
    border-bottom: 1px solid lightgray;
}

.social-container {
    display: grid;
    border: 1px solid lightgray;
    border-radius: 4px;
    background-color: #fbfbfb;
    margin: 15px 5% 30px;
    grid-template-areas: 
        "social-image text"
        "social-image count";
}
.social-image {
    grid-area: social-image;
    background: #7477bf;
    border-radius: 50%;
    height: 60px;
    width: 60px;
    justify-self: right;
    align-self: center;
    margin-right: 20px;
}

.social-text :nth-child(1){
    grid-area: text;
    color: #7477bf;
    font-weight: bolder;
    margin-bottom: 0;
    margin-top: 20px;
}
.social-text :nth-child(2){
    grid-area: count;
    color: #6a6969;
    font-size: xx-large;
    font-weight: lighter;
    margin-top: 0;
    margin-bottom: 20px;
}

.members, .activity, .message, .settings {
    color: grey;
    font-size: smaller;
    border: .5px solid lightgray;
}

.members-container{
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    margin: 18px;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}
.members-container:last-child {
    border-bottom: none;
}

.members-text p, .activity-text p{
    margin-block-end: 0px;
    margin-block-start: 0px;
}

.activity-container {
    display: grid;
    grid-template-columns: 1fr 4fr 2fr;
    margin: 18px;
    padding: 10px 0;
    border-bottom: 1px solid lightgray;
}
.activity-container:last-child {
    border-bottom: none;
}
.arrow {
    display: flex;
    justify-content: flex-end;
    color: #7477bf;
    font-size: x-large;
    font-weight: lighter;
    margin-block-end: 0px;
    margin-block-start: 0px;
}
.widget-container {
    display: grid;
}
.form-field, .form-area, .button-primary {
    margin: 10px 30px;
    border: 1px solid lightgray;
    border-radius: 4px;
}
.form-field {
    height: 30px;
    text-indent: 10px;
}
.form-area {
    height: 80px;
    text-indent: 10px;
    padding-top: 10px;
}

::placeholder {
    color: lightgray;
}
button {
    color: white;
    background-color: #7477bf;
    height: 40px;
    text-transform: uppercase;
    font-size: smaller; 
    font-weight: bolder;   
}

.settings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px;

}
.settingsH3{
    grid-column: 1/span 2;
    
}
.switch-ios.switch-light{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 320px;
    grid-column: 1/span 2;
    margin-left: 30px;
    grid-column-gap: 30px;
    grid-template-rows: 47px;

}

.switch-ios.switch-light input:checked ~ span span:last-of-type {
    opacity: 1;
    color: white;
    background-color: #7474bf;
    border-color: #7477bf;
    grid-column: 1/span 2;
}
#timezone {
    grid-column: 1/span 2;
    height: 36px;
    margin-top: 13px;
    background-color: white;
    color: lightgray;
}

.settings-button {
    grid-column: 1/span 2;
    justify-self: center;
}
#save, #cancel {
    width: 12em;
    margin: 10px 10px;
}

#cancel {
    border-radius: 4px;
    background-color: lightgray;
}

@media (min-width: 768px){
    .grid-container {
        grid-template-columns: 55px 1fr;
        grid-template-areas:
            "header header"
            "nav main";
    }
    .main-header-search {
        padding: 5px 5px 5px 60%;
    }
    .main {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    .traffic, .social, .main-header{
        grid-column: 1/ span 2;
    }
    .daily, .members, .message {
        grid-column: 1/ span 1;
    }
    .mobile, .activity, .settings {
        grid-column: 2/ span 1;
    }
    .widget-container-full {
        width: 90vw;
    }
    .widget-container-half {
        width: 45vw;
    }
    .icons {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .social {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        border-bottom: 1px solid lightgray;
    }
    .alert {
        grid-column: 1/span 2;
    }

    .alert-banner {
        display: grid;
        grid-template-columns: 8fr 1fr;
    }

    .alert-banner-close {
        justify-self: right;
    }
    #timezone {
        margin: 11px 22px;
    }
    
    .selected {
        border-left: 3px solid #85db80;
        border-bottom: 5px solid #4c4c72;
        border-top: 5px solid #4c4c72;
        margin: 5px 0;
        }
        #save, #cancel {
            width: 14em;
            margin: 11px 10px;
        }
}
@media (min-width: 1024px) {
    #save, #cancel {
        width: 18em;
        margin: 10px 10px;
    }
}